name: Build and Push Docker Image

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  DOCKER_USER: arieliking
  IMAGE_NAME: turbolucy-runpod
  TAG: v1.8

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache
        
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: "docker/default"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push with Docker Build Cloud
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.DOCKER_USER }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}
            ${{ env.DOCKER_USER }}/${{ env.IMAGE_NAME }}:latest
          provenance: false
